header {
  padding: 0;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}

main p {
  border-left: 2px solid black;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: 0%;
  background-color: rgba(red, green, blue, alpha);
  width: 100%;
  display: flex;
}
